@import './globals.css';

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.imagem{
    width: 50%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.formulario{
    width: 50%;
    height: 100vh;
    background-color: #F8F8F8;   
    display: flex;
    justify-content: center;
}

.form{
    margin-top: 10%;
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.titulo{
    font-family: "Baloo";
    color: #5C4444;
    font-size: 200%;
    flex-direction: column;
}

.form input,
.form textarea,
.form button {
    width: 100%; /* ocupa toda a largura */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form_content a,
  .form_row a {
    position: absolute;
    bottom: 0px;
    left: 0;
    visibility: hidden;
}


.form_row {
    display: flex;
    gap: 10px; /* espaço entre os campos */
}

.input-preco {
    flex: 1; /* ocupa espaço proporcionalmente */
    max-width: 120px; /* deixa pequeno */
}

.input-unidade {
    flex: 1; /* outro campo ao lado do preço */
}

.form_content select {
    width: 100%;           /* ocupar toda a largura disponível */
    padding: 10px;         /* espaço interno */
    border-radius: 5px;    /* cantos arredondados */
    border: 1px solid #ccc;/* borda cinza */
    font-size: 14px;       /* tamanho da fonte */
    background-color: #fff;/* fundo branco */
}

.radio-group {
    display: flex;
    gap: 20px; /* espaço entre os radios */
    justify-content: flex-start; /* ou center, se quiser centralizar na tela */
  }
  
  .radio-item {
    display: flex;
    flex-direction: column; /* coloca o texto embaixo do círculo */
    align-items: center;    /* centraliza o texto em relação ao radio */
    cursor: pointer;
  }
  
  .radio-item input[type="radio"] {
    width: 24px;  /* tamanho do círculo */
    height: 24px;
    margin-bottom: 5px; /* espaço entre o círculo e o texto */
  }

  .tipo{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 0, 0);
}