@import './globals.css';

body {
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    display: flex;


}

.container {
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}
.tela1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.titulo {
    font-family: "Baloo";
    color: #5C4444;
    font-size: 30px;
    padding: 20px;
}

.form {
    padding: 5px;

}

.form_content {
    margin-bottom: 8px;
    padding-bottom: 5px;
    position: relative;
    font-family: "Calibre";
    color: #807a75;

}

.form_content label {
    display: inline-block;
    margin-bottom: 0px;

}

.form_content input {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    border: 2px, solid #dfdfdf;
}

.form_content a {
    position: absolute;
    bottom: 0px;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: #600E0E;
    color: #ffffff;
    width: 20%;
    border: 0;
    border-radius: 10px;
    padding: 8px;
    font-family: Baloo;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
    float: right;
}




.form_content.error input {
    border-color: #fc5e5e;
}

.form_content span {
    display: block;
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 3px, solid, rgba(243, 4, 4, 0.156);
    background-color: rgba(105, 23, 23, 0.593);
    border-radius: 13px;

}

.form_content.error a {
    color: #fc5e5e;
    visibility: visible;
    margin-top: 20px;
}

.form a {
    font-family: "Calibre";
}

/*Caixa de texto com botão no lado*/

/*
<div class="form_content_produto">
    <label for="nome"> produto</label>
    <input type="text" id="nome" name="nome" placeholder="Digite seu nome">
    <button>pesquisar</button>
    <a>mensagen de erro</a>
</div>
*/
.form_content_botao {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
    font-family: "Calibre";
    color: #807a75;
}

.form_content_botao input {
    display: inline-block;
    width: 79%;
    border-radius: 3px;
    padding: 10px;
    border: 2px, solid #dfdfdf;
}

.form_content_botao button {
    display: inline-block;
    width: 20%;
    ;

}

.form_content_botao label {
    display: block;
    margin-bottom: 0px;

}

/*caixa radio*/

.pedido .radio {
    display: flex;


}

.pedido .item_radio {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.hidden {
    display: none;
  }